---
//imported components
import Navbar from '../components/Navbar.astro';

//Js function to make the title and background image dynamic
interface Props {
  title : string;
  // background?: boolean;
}

// const { title } = Astro.props, { background = false } = Astro.props;
const { title } = Astro.props;
---
<!-- Layout is the base structure, all components (that you want to use on all pages) are set here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body class="relative flex flex-col min-h-screen">
  <Navbar />
  <main class="grow ">
    <slot />
  </main>
  <footer class="bg-black text-white text-center py-4 text-sm">
    © {new Date().getFullYear()} Fundamentals of Computing | Team 5 Final Project
  </footer>
</body>
</html>